<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SpeechServerSocket" value="13337"/>
    <add key="ServerMachineName" value="localhost"/>
    <add key="ServerPort" value="1768"/>
    <add key="LevenshteinDistanceLimit" value="100"/>
    <add key="ReportLocation" value="C:\"/>
    <add key="SummaryImageLocation" value="C:\"/>
    <add key="LogFile" value="C:\Log.txt"/>
    <add key="matchesToSend" value="10"/>
    <!--;RQ;RBFN;I separator-->
    <add key="SIDS" value="RQ"/>
    <add key="ContextSIDS" value ="BIVD;BIVA;3PFL"/>
    <add key="excludedParts" value ="ITRE;ITDR;ITFR"/>

    <add key="RootSID" value="3PTA"/>
    
    <!--<add key="objreftag" value="OLAP"/>-->
    <!--<add key="attribwithsid" value="ANOT"/>-->
    <!--<add key="projecthandle" value="x2600000000000429"/>-->
    
    <add key="objreftag" value="ANOT"/>
    <add key="attribwithsid" value="ANTR"/>
    <add key="projecthandle" value="x260000000090FDAD"/>
    <add key="debug" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>